{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}

{% block content %}
<!--  <h2>Последние 10 публикаций</h2>  -->
{% if bbs %}
<ul class="list-unstyled">
    {% for bb in bbs %}
    <li class="media my-5 p-3 border">
        {% url 'main:detail' rubric_pk=bb.rubric.pk pk=bb.pk as url %}
        <a href="{{ url }}{{ all }}">
        {% if bb.image %}
        <img class="mr-3" src="{% thumbnail bb.image 'default' %}">
        {% else %}
        <img class="mr-3" src="{% static 'main/empty.jpg' %}">
        {% endif %}
        </a>
        <div class="media-body">

          {% if bb.account_adds_vacancy %}
          <h3><a href="{{ url }}{{ all }}">Вакансия:  {{ bb.title }}</a></h3>
          {% else %}
          <h3><a href="{{ url }}{{ all }}">Резюме:  {{ bb.title }}</a></h3>
          {% endif %}


          <!-- <div>{{ bb.content }}</div> -->

          <div>{{ bb.get_summary }}</div> 
          <!--<p class="text-right font-weight-bold">{{ bb.price }} руб.</p>   -->
          <p class="text-right font-weight-bold">{{ bb.salary_from }} - {{ bb.salary_up_to }} руб.</p>
          <p class="text-right font-italic">{{ bb.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}





 {% endblock %} 