{% extends "layout/basic.html" %}

{% load bootstrap4 %}


{% block content %}
<h2>Добавление публикации</h2>
<form method="post" enctype="multipart/form-data">
<!--  Обязательно указываем у формы метод кодирования данных multipart/form-data
Если этого не сделать, то занесённые в форму файлы не будут отправлены.-->


    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% bootstrap_formset formset layout='horizontal' %}
    <!--  Набор форм выведем с помощью тега шаблонизатора bootstrap_formset -->
    {% buttons submit='Добавить' %}
    {% endbuttons %}
</form>
{% endblock %}